<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{site.title}} - {{ page.title }}</title>
        <meta name="description" content="{{ site.description  }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{site.url}}/assets/css/styles.css" rel="stylesheet"/>
    </head>
    <body>
        <div id="content">
            {{ content }}
        </div>
        <footer>
            <div class="footer-content">
                <!-- Centered container for badges -->
                <div class="badges" style="text-align: center; padding: 20px;">
                    <!-- GitHub Repo Badge -->
                    <a href="https://github.com/0xAnalyst/Project-Lost" title="Go to GitHub repo">
                        <img src="https://img.shields.io/static/v1?label=0xanalyst&message=Project-Lost&color=blue&logo=github" alt="0xanalyst - Project-Lost">
                    </a>
                    <!-- Stars Badge -->
                    <a href="https://github.com/0xAnalyst/Project-Lost">
                        <img src="https://img.shields.io/github/stars/0xAnalyst/Project-Lost?style=social" alt="stars - Project-Lost">
                    </a>
                    <!-- Forks Badge -->
                    <a href="https://github.com/0xAnalyst/Project-Lost">
                        <img src="https://img.shields.io/github/forks/0xAnalyst/Project-Lost?style=social" alt="forks - Project-Lost">
                    </a>
                    <!-- Issues Badge -->
                    <a href="https://github.com/0xAnalyst/Project-Lost/issues">
                        <img src="https://img.shields.io/github/issues/0xAnalyst/Project-Lost" alt="issues - Project-Lost">
                    </a>
                    <!-- License Badge -->
                    <a href="https://github.com/0xAnalyst/Project-Lost#license">
                        <img src="https://img.shields.io/badge/License-Apache_2.0-blue.svg" alt="License">
                    </a>
                </div>
                <!-- Additional Footer Content -->
                <div class="additional-content" style="text-align: center; padding-bottom: 20px;">
                    <p>The Living Off Security Tools| <a href="https://github.com/0xAnalyst/Project-Lost">github.com/0xAnalyst</a></p>
                </div>
            </div>
        </footer>        
    </body>
</html>
